@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Poppins&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  background: #e6e6e6;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
h1 {
  margin-top: 2rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #54436b;
  font-weight: bolder;
  font-size: 2.6rem;
}
input {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #423453;
}
label {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #423453;
}
button {
  font-size: 1.2rem;
  padding: 15px;
  margin: 1rem;
  width: 88%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #54436b;
  color: #f1f1f1;
  transition: all 0.4s ease;
}
button:hover {
  background: #423453;
}
.small {
  color: #aa2b1d;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
  text-align: start;
  /* border: 1px solid black; */
  margin: 1rem 3rem;
}
.div {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
}
/* Output Styling  */
.output {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}
.output-ul {
  font-size: 1.2rem;
}
#output h2 {
  text-align: justify;
}

.danger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  margin: 1rem;
  /* padding: 3rem; */
  background: #ff616d;
  color: #802218;
}
.success {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  margin: 1rem;
  /* padding: 3rem; */
  background: #acffad;
  color: #1b4219;
}
footer {
  border-top: 1px solid #423453;
  border-bottom: 1px solid #423453;
  text-align: justify;
  margin: 0rem 0rem 2rem 0rem;
  padding: 1rem;
  color: #423453;
  font-size: 1.2rem;
}
.footer-links {
  text-align: center;
  font-size: 2rem;
}
.footer-links a {
  padding: 1rem;
  text-decoration: none;
  color: #423453;
}
.footer-portfolio {
  text-align: center;
  text-decoration: none;
}
.hr-tag {
  width: 100%;
  border: 1px solid #423453;
  margin-bottom: 1.6rem;
}
